<div class="mt-5 pt-5 pb-5 footer">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-lg-4 col-xs-12 location">
        <div class="section-header">
          <h4 class="mt-lg-0 mt-sm-4 font-bold">I-Huolto asennus Oy</h4>
          <span></span>
        </div>


        <p class="mb-0 font-regular" style="color: #4c4444;">Alaniitynkatu</p>
        <p class="mb-0 font-regular" style="color: #4c4444;">6 53550</p>
        <p class="mb-0 font-regular" style="color: #4c4444;">Lappeenranta tel. 010 778 0500</p>
        <p class="mb-0 font-regular" style="color: #4c4444;">i-service(a)i-huolto.fi</p>
        <div class="input-group" style="margin-top: 50px">
         <div class="mat-form-field-flex">
           <div>
             <input type="search" class="form-control" style="padding: 23px 33px;"/>
           </div>
           <div style="margin-left: 12px;">
             <button type="button" class="btn btn-primary btn_search" style="padding: 12px 42px;">{{"ser"|language}}
             </button>
           </div>

         </div>

         </div>
      </div>
                    <div class="col-lg-4 col-xs-12 links">
                      <div class="section-header">
                        <h4 class="mt-lg-0 mt-sm-3 font-bold">{{"iHoultoInf"|language}}</h4>
                        <span></span>
                      </div>

                      <ul class="m-0 p-0">
                        <li style="margin-top: 25px"><span class="p-4 font-bold" style="color: #3296c1">&#10003;</span><a>
                          {{"IservGrant"|language}}</a></li>
                        <div class="border_D" style="margin-top: 25px; margin-bottom: 25px;"></div>
                        <li style="margin-top: 25px"> <span class="p-4 font-bold" style="color: #3296c1">&#10003;</span> <a>{{"ourManMoToTele"|language}}</a></li>
                        <div class="border_D" style="margin-top: 25px; margin-bottom: 25px;"></div>
                        <li style="margin-top: 25px"><span class="p-4 font-bold" style="color: #3296c1">&#10003;</span> <a>{{"evaNewPages"|language}}
                        </a>
                        </li>
                        <div class="border_D" style="margin-top: 25px; margin-bottom: 25px;"></div>
                        <li style="margin-top: 25px"><span class="p-4 font-bold" style="color: #3296c1">&#10003;</span> <a> {{"welToNewWeb"|language}}</a></li>

                      </ul>
                    </div>
                    <div class="col-lg-4 col-xs-12 location p-3">

                      <div class="text-center">
                        <img src="assets/images/Karjalove-bottomlogo.png" >
                      </div>

                      <div class="text-center" style="margin-top: 55px;">
                      <img src="assets/images/Ekokompassi-nettiin.jpeg" >
                    </div>
                    </div>
                  </div>
   <div class="row mt-5 p-3">
                    <div class="col copyright">
                      <p class=""><small class="text-white-50"></small></p>
                    </div>
                  </div>
   </div>




 </div>

