
<div style="position: relative">

  <div class="row header" style="flex-wrap: nowrap">

    <div class="col-lg-10 col-sm-8">
      <h5 class="western heading" lang="fi-FI"><strong>I-HUOLTO ASENNUS OY:N YLEISET TOIMITUSEHDOT</strong></h5>

    </div>
    <div class="col-lg-2 col-sm-4" style="text-align: right">
      <svg (click)="close()" style="width:24px;height:24px; cursor: pointer; color: #00A2E1;" viewBox="0 0 24 24">
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
          fill="currentColor"/>
      </svg>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

      <div class="terms_content">
        <h5 class="western heading" lang="fi-FI"><strong>1. Soveltamisala</strong></h5>

        <p class="western" lang="fi-FI"> Näitä ehtoja sovelletaan i-Huolto asennus Oy:n ja
          sen alihankkijoiden tai yhteistyökumppaneiden
          toimittamiin ilmanvaihtoalan palveluihin. Näitä
          ehtoja sovelletaan, elleivät osapuolet ole toisin
          sopineet.</p>
        <p class="western" lang="fi-FI">I-Huolto asennus Oy voi käyttää palvelunsa
          toteuttamiseen yhteistyökumppaneitaan tai
          alihankkijoitaan. Mahdollisten alihankkijoiden
          käytöstä ilmoitetaan asiakkaalle aina ennen työn
          suorittamista.</p>


        <h5 class="western heading" lang="fi-FI"><strong>2. Tarjouksen voimassaolo</strong></h5>
        <p class="western" lang="fi-FI">Tarjous on voimassa tarjouksessa mainitun ajan.</p>

        <p class="western" lang="fi-FI">Mikäli voimassaoloaikaa ei ole mainittu, on tarjous
          voimassa 30 päivää tarjouksen päiväyksestä.</p>
        <p class="western" lang="fi-FI">Tarjouslaskurin tai hinnaston mukainen palvelun
          hinta perustuu yleiseen olettamukseen ja voi
          muuttua kohteeseen tehdyn alkukartoituksen
          jälkeen. Tarjouslaskurin hinta ei ole sitova.</p>

        <h5 class="western heading" lang="fi-FI"><strong>3. Palvelun toimittamisen edellytykset</strong></h5>
        <p class="western" lang="fi-FI"> Tilaaja on velvollinen noudattamaan I-Huolto
          asennus Oy:n toimittamia ohjeita työympäristön
          saattamiseksi sellaiseen kuntoon, että palvelut
          voidaan toimittaa sovittuna aikana. Mikäli työn
          suorittaminen estyy tai olosuhteet ovat työtä
          merkittävästi hidastavat, on I-Huolto asennus Oy:llä
          oikeus periä asiakkaalta kohtuullinen käyntimaksu.</p>

        <p class="western" lang="fi-FI"> Tilaajan on varmistettava, että I-Huolto asennus
          Oy:llä on pääsy työkohteeseen.</p>
        <p class="western" lang="fi-FI">Mikäli palvelua ei voida suorittaa ohjeiden
          laiminlyönnin vuoksi, I-Huolto asennus Oy:llä on
          oikeus veloittaa 80 % tarjouksessa sovitusta
          hinnasta.</p>
        <h5 class="western heading" lang="fi-FI"><strong>4. Työturvallisuus</strong></h5>
        <p class="western" lang="fi-FI">Tilaaja vastaa työympäristöstä ja huolehtii siitä,
          ettei henkilöstölle aiheudu palvelun suorittamisesta
          vaaraa terveydelle tai vahingonvaaraa.</p>
        <p class="western" lang="fi-FI">Tilaajan on selvitettävä henkilöstölle Työympäristön
          mahdolliset vaaratekijät.</p>
        <p class="western" lang="fi-FI">Tilaaja vastaa siitä, että olosuhteet työympäristössä
          vastaavat työturvallisuuslain ja muiden säännösten
          määräyksiä kulloinkin voimassa olevien säännösten
          mukaisesti.</p>

        <h5 class="western heading" lang="fi-FI"><strong>5. Toimitusaika ja viivästys</strong></h5>
        <p class="western" lang="fi-FI">
          Palvelut suoritetaan sovittuna toimitusaikana.
        </p>
        <p class="western" lang="fi-FI">
          Mikäli palvelun suorittaminen viivästyy I-Huolto
          asennus Oy:stä johtuvista syistä, I-Huolto asennus
          Oy on velvollinen suorittamaan Tilaajalle
          viivästyssakko 0,5 % myöhästyneen palvelun
          hinnasta kultakin päättyvältä täydeltä viikolta,
          kuitenkin enintään 7,5 % palvelun hinnasta.
          Viivästyssakko on ainoa seuraamus viivästyksestä.
          Viivästyssakkoa maksetaan vain, jos tilaajan ja IHuolto asennus Oy:n välisessä sopimuksessa
          viivästyssakosta on erikseen sovittu. Viivästyssakko
          voi poiketa tässä toimitusehdossa esitetystäkin,
          mikäli tilaussopimuksessa toisin on esitetty ja
          sovittu.
        </p>

        <h5 class="western heading" lang="fi-FI"><strong>6. Maksuehdot</strong></h5>
        <p class="western" lang="fi-FI">
          Ellei maksuehdosta ole sovittu, maksuaika on 14
          vuorokautta. Maksun viivästyessä peritään 16 %
          vuotuista viivästyskorkoa. Lisäksi toimittajalla on
          oikeus periä perintäkulut.
        </p>

        <h5 class="western heading" lang="fi-FI"><strong>7. Virhevastuu</strong></h5>
        <p class="western" lang="fi-FI">
          Virheeseen I-Huolto asennus Oy:n palvelussa tai
          suorituksessa on vedottava viimeistään kuukauden
          kuluttua palvelun toimittamisesta.
        </p>
        <p class="western" lang="fi-FI">
          I-Huolto asennus Oy vastaa aiheuttamastaan esine-ja henkilövahingosta vastuuvakuutuksensa
          ylärajaan eli 1 000 000 euroon asti.
        </p>
        <p class="western" lang="fi-FI">
          Mikäli vakuutusyhtiö kieltäytyy korvauksesta mistä
          tahansa syystä, on korvausvastuun yläraja palvelun
          myyntihinta.
        </p>
        <p class="western" lang="fi-FI">
          I-Huolto asennus Oy ei vastaa missään olosuhteissa
          välillisistä vahingoista kuten tuotantotappioista,
          saamatta jääneestä myynnistä tai voitosta,
          taloudellisesta seurannaisvahingosta.
        </p>
        <h5 class="western heading" lang="fi-FI"><strong>8. Alihankinta</strong></h5>
        <p class="western" lang="fi-FI">
          I-Huolto asennus Oy:llä on oikeus käyttää
          alihankkijaa suorittaessaan palveluaan.
        </p>
        <h5 class="western heading" lang="fi-FI"><strong>9. Ylivoimainen este</strong></h5>
        <p class="western" lang="fi-FI">
          Ylivoimaisia esteitä ovat sota, kapina,
          luonnonmullistus, yleinen sähkönjakelun
          keskeytyminen, tulipalo, lakko tai saarto tai muu
          yhtä merkittävä, epätavallinen, ennakoimaton syy,
          jonka vaikutusta Osapuoli ei voi kohtuudella
          välttää. Osapuolen on ilmoitettava kirjallisesti
          toiselle Osapuolelle ylivoimaisesta esteestä
          saatuaan siitä tiedon sekä arvioitava ylivoimaisen
          esteen todennäköinen kesto ja sen vaikutus
          Sopimuksen mukaisten velvoitteiden
          suorittamiseen.
        </p>
        <h5 class="western heading" lang="fi-FI"><strong>10. Sovellettava laki, erimielisyyksien ratkaiseminen</strong></h5>
        <p class="western" lang="fi-FI">
          Toimittajan ja tilaajan väliset erimielisyydet
          ratkaistaan ensisijaisesti osapuolten välisin
          neuvotteluin.
          Ellei toisin ole sovittu, riidat ratkaistaan Etelä-
          Karjalan käräjäoikeudessa. Tähän sopimukseen
          sovelletaan Suomen lakia.
        </p>

      </div>

    </div>
  </div>
</div>
